<div class="card">
    <nav class="nav nav-tabs">
        <a class="nav-item nav-link active" data-toggle="tab" href="#tpl-content">
            {{ form.content.vars.label|trans }}
        </a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tpl-options">
            {{ form.options.vars.label|trans }}
        </a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tpl-defined-translations">
            {{ form.definedTranslations.vars.label|trans }}
        </a>
    </nav>
    <div class="tab-content">
        <div class="tab-pane card-body active" id="tpl-content">
            <div class="row">
                <div class="col-md-8">{{ form_row(form.name) }}</div>
                <div class="col-md-4">{{ form_row(form.type) }}</div>
            </div>
            {{ form_row(form.content, { label: false, attr: { 'data-code-mirror-mode': 'twig' } }) }}
        </div>
        <div class="tab-pane" id="tpl-options">
            {{ form_row(form.options, { label: false }) }}
        </div>
        <div class="tab-pane" id="tpl-defined-translations">
            {{ form_row(form.definedTranslations, { label: false }) }}
        </div>
    </div>
</div>
