<div class="card">
    <nav class="nav nav-tabs">
        <a class="nav-link active" data-toggle="tab" href="#x-page-content">
            {{ 'Contents' }}
        </a>
        {% for key in ['script', 'style', 'options', 'definedTranslations'] %}
            <a class="nav-link" data-toggle="tab" href="#x{{ form[key].vars.id }}">
                {{ form[key].vars.label|trans }}
            </a>
        {% endfor %}
    </nav>
    <div class="tab-content">
        <div class="tab-pane active" id="x-page-content">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-md-2">{{ form_row(form.enabled, { switch: 'success' }) }}</div>
                    <div class="col-md-10">{{ form_row(form.template) }}</div>
                </div>
            </div>
            <div class="card-body">
                {{ form_row(form.translations) }}
            </div>
        </div>
        {% for key in ['script', 'style', 'options', 'definedTranslations'] %}
            <div class="tab-pane" id="x{{ form[key].vars.id }}">
                {{ form_row(form[key], { label: false }) }}
            </div>
        {% endfor %}
    </div>
</div>
